.navbar {
  background-color: lightpink;
  color: white;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
}
.title {
  font-size: 1.5rem;
  text-shadow: 1px 1px 5px red;
}

.navlist {
  display: flex;
  font-weight: bold;
  list-style: none;
  
}
